@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-color: #F8F8F8;
	background-size: 100% auto;
	background-attachment: scroll;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 90px;
	width: 100%;
}

.header {
	width: 100%;
	background-color: #3FA796;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.header .logo {
	cursor: pointer;
}

.logo img {
	margin-top: 0px;
	margin-right: 154px;
	margin-left: 48px;
	margin-bottom: 4px;
	margin: 0px 150px 0px 48px;
	border-radius: 0px;
	width: auto;
} 

.header nav .list {
	list-style: none;	 
}

.header nav .list li {
	display: inline-block;
	padding: 12px;
	font-family: roboto;
	font-weight: 500;
	color: #F8F8F8;
}

.list ul a {
	font-size: 16px;
	font-weight: 500;
}

.header nav .list li:hover {
	color: #6a5499;
	font-weight: 500;
}

.header .boton-header {
	font-weight: 700;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	padding: 12px 24px;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 20px;
}

.header .boton-header:hover {
	background: #F8F8F8;
	color: #3FA796;
}

.imagenes-header img {
	margin-left: 44px;
	border-radius: 0px;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
}

.dropdown-content {
  display: none;
  overflow: auto;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
  width: 180px;
  height: 207px;
  background-color: #3FA796;
  list-style: none;
  padding: 30px 0px 0px 12px;
  border-radius: 0px 0px 12px 12px;
  margin-top: 19px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #F1F1F1;
	font-weight: 500;
	font-family: roboto;
	font-size: 12px;
	line-height: normal;
}

.icono-perfil {
	width: 46px;
	height: 46px;
	background-color: transparent;
	border: none;
	margin-left: 32px;
}

/* Home */
#home {
	display: flex;
	justify-content: center;	
	background-image: url(/img/portada.png);
	background-repeat: no-repeat;
}

h1 {
	font-family: ubuntu;
	font-size: 58px;
	font-weight: 700;
	color: #F8F8F8;
	text-align: start;
}

h2  {
    font-family: ubuntu, 'sans serif'; 
    font-size: 48px;
	font-weight: 700;
	text-align: center;
	padding: 64px 0px;
}

h3, h4, p, a {
	font-family: roboto, 'sans serif';
}

h2, h3, h4, p {
	color: #F8F8F8;
}

h3 {
    font-size: 32px;
	padding-bottom: 32px;
	text-align: center;
}

h4 {
    font-size: 28px;
	max-width: 265px;
	padding: 144px 8px 0px 21px;
}

p {
    font-size: 20px;
	font-weight: 300;
	padding-bottom: 64px;
	max-width: 936px;
	margin: auto;
	text-align: center;
}

.texto-portada {
	max-width: 476px;
	margin: 461px 0px 0px 148px;
}

.texto-portada h2 p {
	color: #F8F8F8;
	text-align: start;
}

.texto-portada h2 {
	padding-bottom: 16px;
	font-size: 48px;
	font-family: ubuntu, 'sans serif';;
}

.texto-portada p {
	font-size: 27px;
	font-family: roboto, 'sans serif';
	text-align: start;	
}

.registro {
	margin: 139px 148px 0px 185px;
	background-color: #8267BE;
	height: 560px;
	width: 490px;
	padding: 50px;
	text-align: center;
	border-radius: 42px;
}

.formulario-registro p {
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0px;
}

.titulo-formulario {
	font-family: ubuntu;
	font-size: 32px;
	display: flex;
	float: left;
	padding-left: 10px;
}

.formulario-registro input {
	border-radius: 8px ;
	width: 370px;
	height: 40px;
	margin-top: 24px;
}

.formulario-registro #usuario, #contrasena {
	font-size: 18px;
	color: #7E7E7E;
	padding: 10px 0px 9px 12px;
	border: none;
}

.formulario-registro input {
	width: 361px;
	height: 48px;
}

.formulario-registro a {
	padding: 13px;
	display: flex;
	justify-content: center;
	color: #F8F8F8;
	border: 3px solid #F8F8F8;
	border-radius: 8px;
	margin-top: 32px;
}

.formulario-registro a:hover {
	background: #F8F8F8;
	color: #8267BE;
}

.facebook {
	padding: 8px 16px 8px 16px;	
}

.google, .facebook {
	background-color: #FFBD35;
	border-radius: 9px;
	margin: 16px;
}

.google{
	padding: 11px;
}

/* sobre nosotros */
#sobre-nosotros {
    background-color: #3FA796;
    text-align: center;
	height: 1540px;
}

.containers {
	display: flex;
	justify-content: center;
	gap: 86px;
	padding-bottom: 48px;
	position: relative;
}

.corazones {
	position: absolute;
	top: 36px;
}

.container_violeta {
	background-color: #8267BE;
	width: 280px;
	height: 265px;
	border-radius: 30px;
	text-align: center;
}

.subtitulo h2 {
	color: #1e1e1e;
	padding: 80px 0px 64px 0px;
}

span {
	font-weight: 700;
}

.texto_corto {
	max-width: 360px;
	margin: auto;
	}

/*----Novedades----*/
#novedades {
	margin-bottom: 48px;
}

.novedades-2 h2 {
	color: #1E1E1E;
	padding-bottom: 40px;
}

.novedades-2 p {
	max-width: 552px;
	margin: auto;
	color: #1E1E1E;
}

.container-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.Ncard {
	margin: 24px;
	border-radius: 30px;
	background-color: #3FA796;
	transition: all 400ms ease-out;
	cursor: default;
	width: 332px;
	height: 447px;
}

.Ncard:hover {
	transform: translateY(-5%);
}

.img-novedades {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	width: 100%;
}

.Ncard .contenido-card h5 {
	font-family: roboto;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	padding: 8px 0px;
}

.P-italic {
	font-family: roboto;
	font-size: 16px;
	font-style: italic;
}

.Ncard .contenido-card p{
	font-size: 16px;
	max-width: 289px;
	margin: auto;
	padding-bottom: 40px;
}

.vermasnovedades {
	margin-left: 200px;
}

.vermasnovedades a {
	color: #f8f8f8;
	border: 2px solid #F8F8F8;
	border-radius: 6px;
	padding: 8px 12px;
	margin-left: 22px;
}

.vermasnovedades a:hover {
	background: #ffffff;
	color: #3FA796;
}

.container-card {
	position: relative;
	overflow: hidden;
}

.swiper-button-next,.swiper-button-prev {
	position: absolute;
}

/* nuestro barrio */
#nuestro-barrio {
	background-color: #3FA796;
	padding-bottom: 48px;
}

.h2barrio {
	font-size: 48px;
	padding-top: 48px;
	padding-bottom: 24px;
	font-family: ubuntu;
}

.presentacion-nb {
	text-align: center;
	font-size: 2em;
	color: white;
}

.presentacion-nb p {
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	max-width: 582px;
	margin: auto;
	padding-bottom: 72px;
}

.container-mapa {
	width: 538px;
	height: 468px;
	display: flex;
	flex-direction: column;
	float: left;
	margin-left: 89px;
}

.container-mapa h4 {
	color: #F8F8F8;
	font-family: ubuntu;
	font-size: 20px;
	margin-left: 0px;
	text-align: start;
	max-width: 390px;
	padding: 0px 0px 24px 0px;
}

.icono-buscador {
	background-image: url(/img/buscar.png);
	background-repeat: no-repeat;
	background-position: 4px center;
	background-size: 24px;
	display: flex;
	align-items: center;
	width: 513px;
	height: 30px;
}

.input-icono input {
	width: 100%;
	font-size: 0.9em;
	border: none;
}

.mapa {
	display: flex;
	padding-top: 32px;
}

#map {
	height: 500px;
	width: 96%;
	margin-top: 32px;
	border-radius: 24px;
}

.container-form {
	display: flex;
	flex-direction: column;
	float: right;
	margin-right: 89px;
}

.container-form h4 {
	font-size: 20px;
	font-family: ubuntu;
	color: #F8F8F8;
	font-weight: 400;
	margin-left: 0px;
	text-align: start;
	max-width: 390px;
	padding: 0px 0px 24px 0px;
}

.formulario-org {
	display: flex;
	flex-direction: column;
}

form {
  margin: 0 auto;
  width: 606px;
}

.form-pau {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 16px;
}

.form-pau li {
	font-family: roboto;
	color: #F8F8F8;
	font-weight: 300;
	font-size:  20px;
}

input,textarea {
  
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px #FFFFFF;
}

input, textarea, select, button {
  width : 600px;
  height: 48px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.checkbox {
	width: 14px;
	height: 14px;
	background-color: transparent;
	color: transparent;
	border-style: hidden;
}

.continuar li {
	font-size: 16px;
	font-weight: 500;
	padding: 12px 24px;
	display: inline-block;
	text-align: start;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	margin-top: 32px;
}

.continuar li:hover {
	background-color: #F8F8F8;
	color: #8267BE;
}

#name,#CUIT,#lugar,#entrecalles,#barrio,#localidad,#partido,#pregunta,#descrip,#buscar {
	font-size: 14px;
	color: #9E9E9E;
	padding: 12px;
}

/* concienticemos */
#concienticemos {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.concienticemos-contenido {
	display: inline-flex;
	flex-direction: row;
}

.container_little {
	display: flex;
	flex-direction: column;
}

.card {
	margin: 0px 0px 30px 0px;
	border-radius: 30px ;
	overflow: hidden;
	background: #8267BE;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	cursor: default;
	transition: all 400ms ease;
	display: flex;
	flex-direction: row;
	padding: 0px 20px 0px 0px;
	height: 210px;
}

.iconos {
	display: flex;
	padding: 25px 0px 0px 25px;
	justify-content: flex-end;
	width: 100%
}

.iconos img {
	border-radius: 0px;
}

.card:hover {
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
	transform: translateY(-5%);
}

.card h4 {
	font-weight: 700;
	font-size: 20px;
	padding: 24px 0px 36px 50px;
	max-width: 380px;
}

.contenido {
	display: flex;
	flex-direction: column;
}
.card .contenido a {
	padding: 8px 12px;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	transition: all 400ms ease;
	align-self: end;
}
.card .contenido a:hover{
	background: #F8F8F8;
	color: #8267BE;
}

/* cards-grandes */

.card_father, .container_flip {
    margin-left: 16px;
	perspective: 1000px;
	max-width: 664px;
}

.card_father:hover .card_great {
    transform: rotateY(180deg);
}

.card_great {
	width: 664px;
    height: 700px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 800ms ease;
}

.card_front {
    background-size: cover;
    background-position: center;
}

.card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 30px;
}

.card_back {
    transform: rotateY(180deg);
    background: #8267BE;
}

.contenido_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 279px;
    transform: translateZ(60px);
	max-width: 370px;
	margin: auto;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.contenido_back {
    padding-top: 279px;
    text-align: center;
    transform: translateZ(60px);
	max-width: 540px;
	margin: auto;
}

.contenido_back p {
    padding-top: 36px;
    font-size: 20px;
}

.contenido_back a {
    padding: 12px 16px;
	display: inline-block;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	transition: all 400ms ease;
}

.contenido_back a:hover {
    background: #F8F8F8;
	color: #8267BE;
}

/* colabora con la fundacion */
#fundacion {
	background-color: #3FA796;
}

.contenido-fundacion h2 {
	font-family: ubuntu;
	font-size: 48px;
	padding: 64px 0px;
}

.contenido-fundacion p {
	padding: 0px 0px 32px 0px;
	max-width: 1000px;
	text-align: center;
}

.container-fundacion {
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
	margin: 0px 0px 0px 0px;
}

.cards-gral {
	display: flex;
	flex-direction: row;
	margin-left: 39px;
}

.botones-gral {
	display: flex;
	flex-direction: row;
	margin-left: 38px;
}

.cards-fundacion {
	background-color: #FFBD35;
	width: 300px;
	height: 200px;
	border-radius: 34px;
	margin: 20px;
	display: flex;
	justify-content: center;
	padding: 26px 71px;
}

.boton-fundacion {
	max-width: 31px;
	margin: auto;
}

.botonera-fund {
	display: flex;
	justify-content: center;
}

.estructura-botones-fundacion a {
	color: #F8F8F8;
	padding: 14px 103px;
	
	font-size: 16px;
	font-weight: 500;
	border: solid 2px #F8F8F8;
	border-radius: 6px;
}

.estructura-botones-fundacion a:hover {
	background-color: #F8F8F8;
	color: #3FA796;
	border-radius: 6px;
}

/* contribuir */
.titulo-contribuir h2 {
    font-family: ubuntu, 'sans serif'; 
    font-size: 48px;
	color: black;
	text-align: center;
	font-weight: 700;
	padding-bottom: 32px;
}

.header nav .list li:hover{
	color: #6a5499;
}

.btn button{
	font-weight: 700;
	color: #F8F8F8;
	background-color: #8267BE;
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
}

.contenedor1 {
	width: 1296px;
	height: 512px;
	border-radius: 30px;
	background-color: #3FA796;
	display: flex;
	justify-content:center;
	margin-left: 60px;
	margin-bottom: 64px;
}

.botones-cantidad {
	width: 1296px;
	height: 256px;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: #8267BE;
}

.botonera li {
	display: inline-block;
	text-decoration: none;
	padding: 17px 102px;
	border: 3px solid white;
	border-radius: 14px;
	font-family: roboto;
	font-size: 32px;
	margin: 16px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	color: #F8F8F8;
}

.botones-cantidad li:hover {
	background: #F8F8F8;
	color: #8267BE;
}

.titulo-contribuir {
	font-family: ubuntu;
	color: #1E1E1E;
	font-size: 48px;
	text-align: center;
	padding: 10px;
	margin: 48px;
}

.botonera ul {
	list-style: none;
	padding-top: 20px;
	font-size: 12px;
	text-align: center;	
}

.botonera ul li {
	display: inline;
}

.botonera ul a li {
	width: 239px;
	height: 72px;
	color: #F8F8F8;
	padding: 17px 102px;
	border: 3px solid white;
	border-radius: 14px;
	font-family: roboto;
	font-size: 32px;
	margin: 16px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	padding-top: 60px;
}

.parrafo {
	display: flex;
	margin: 50px 30px 20px 0px;
    max-height: 400px;
}

.contribuir p {
	font-family: roboto;
	font-size: 24px;
	font-weight: 300;
	color: white;
	text-align: center;
	line-height: 30px;
	max-width: 860px;
	max-height: 175px;
	margin: auto;
	padding-bottom: 10px;
}

.contribuir span {
	font-style: italic;
}

.continuar-contribuir {
	width: 251px;
	height: 80px;
	background-color: #F8F8F8;
	font-family: roboto;
	font-size: 24px;
	font-weight:500;
	text-align: left;
	color: #3FA796;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
	margin-top: 40px;
}

.continuar-contribuir li {
	list-style: none;
	padding-top: 25px;
	padding-right: 20px;
}

.flecha {
	display:flex;
	width: 80px;
	height: 80px;
}

.popup {
	margin: 300px;
	background-color: #3FA796;
	width: 810px;
	height: 404px;
	border-radius: 30px;
}

.btn-close {
	align-items: flex-end;
	padding: 8px 12px;
	background-color: #1e1e1e;
	border-radius: 100%;
	color: #F8F8F8;
}

.container-text {
	padding: 64px;
	text-align: center;
	max-width: 580px;
	margin: auto;
}

.btn-volver a {
	padding: 64px 14px;
	font-size: 16px;
	font-weight: 500;
	border: solid 2px #F8F8F8;
	color: #F8F8F8;
	border-radius: 8px;
	margin: 24px;
}

.btn-volver a:hover {
	background-color: #F8F8F8;
	color: #3FA796;
}

.background-blur {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
}

.checkbox-contribuir {
	width: 15px;
	height: 15px;
	color: transparent;
	border-style: hidden;
}

.texto-check {
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	list-style: none;
	color: #F8F8F8;
	margin: 0px 380px;
}

.texto-check li {
	max-width: 280px;
	display: flex;
	flex-direction: column;
	text-align: left;	
}

/* footer */
footer {
	padding-top: 20px;
	background-color: #8267BE;
	width: 100%;
	height: 196px;
}

.footer-img {
	display: flex;
	justify-content: center;
}

.footer-img img {
	border-radius: 0px;
	margin-left: 15px;
}

.footer-p {
	padding-bottom: 16px;
	font-size: 16px;
	font-weight: 300px;
	max-width: 500px;
	line-height: 40px;
	margin-top: 24px;
	text-align: center;
}

/* registrate */
.Registrarte{
	display: flex;
	flex-direction: row;
}

.formu-novedades{
	background: #3FA796;
	margin-bottom: 45px;
	padding-top: 32px;
	padding-bottom: 37px;
	padding-left: 3px;
	margin-left: 45px;
	margin-right: 47px;
	border-radius: 31px;
}

.inicio-de-form{
	color: #f8f8f8;
	max-height: 200px;
}

.datosP{
	display: flex;
	flex-direction: row;
	padding-left: 0px;
	padding-right: 0px;
}

.Nacimiento{
	display: flex;
	flex-direction: row;
}
.radio{
	display: flex;
	flex-direction: row;
}

.radio input {
height: 24px;
}

.form-control{
	margin-left: 16px;
	margin-bottom: 19px;
}

.inicio-de-form h2, p{
	display: flex;
	flex-direction: column;
}

.click-registro{
	margin-top: 15px;
	padding-bottom: 4px;
	margin-bottom: 11px;
}
.form-check-input,.form-check-label {
	display: flex;
	flex-direction: column;
	padding-top: 28px;
}
.btn-primary{
	margin-top: 64px;
}
.font-weight-bold{
	color: #f8f8f8;
}
.radio{
	color:#FFFFFF;
}

/* tarjeta */
.Formulario-tarjeta{
	background: #3FA796;
	margin-top: 30px;
	padding-top: 59px;
	margin-bottom: 43px;
	padding-bottom: 46px;
	margin-left: 150px;
	margin-right: 150px;
	border-radius: 31px;
	width: 1140px;
	height: 793px;
}
.inicio-de-form p{
	line-height: 139%;
	padding-bottom: 32px;
}
.inicio-de-form img {
	margin-bottom: 48px;
	margin-left: 90px;
}
.ingresar-registro{
	color: #f8f8f8;
	border: 2px solid #F8F8F8;
	border-radius: 6px;
	padding-right: 207px;
	padding-left: 207px;
	margin-left: 22px;
	padding-top: 8px;
	margin-bottom: 25px;
	padding-bottom: 8px;
	margin-top: 17px;
}
.ingresar-registro:hover{
	background: #ffffff;
	color: #3FA796;
}
.cancelar-registro{
	margin-top: 0px;
	color: #f8f8f8;
}

.Registrar-tarjeta h2{
	font-size: 48px;
	font-style: bold;
}
.Registrar-tarjeta{
	font-size: 20px;
}
.botones-registo-mitarjeta{
	align-items: center;
	display:flex;
	flex-direction: column;
}

/* confirmaridentidad */
.Formulario-identidad{
	background: #3fa796;
	width: 1144px;
	height: 438px;
	margin-bottom: 51px;
	padding-top: 27px;
	margin-left: 57px;
	margin-right: 57px;
	border-radius: 33px;
}
.Registrar-tarjeta h2{
	margin-top: 37px;
}

/* migasdepan */
.breadcrumbs {
padding: 10px; }
.breadcrumbs__item {
display: inline-block; }
.breadcrumbs__item:not(:last-of-type) ::after {
content: '\203a';
margin: o 5px;
color: #8267BE;
}

.breadcrumbs__link{
text-decoration: none; 
color: #8267BE;
}
.breadcrumbs__link:hover{
text-decoration: underline;
}
.breadcrumbs__link--active{
color: #8267BE;
font-weight: 500;
}

/* nuevo comedor comunitario */

.titulo-comedor-2 {
	display: flex;
	margin-top: 64px;
	justify-content: center;
	color: #1E1E1E;
	font-size: 48px;
	font-weight: 700;
	font-family: ubuntu;
} 

.comedor-infantil{
	height: 218px;
	width: 870px;
	background-color: #3FA796;
	display: flex;
	margin: auto;
	border-radius: 10px;		
}

.comedor-infantil p{

	font-size: 15px;
	font-weight: 300;
	max-width: 500px;
	margin: auto;
	padding: 55px 32px ;
	text-align: center;
	border-radius: 10%;
}

 .titulos .titulo-comedor{		
	font-size: 48px;
	color: #1E1E1E
}

.titulos .construimos{
	font-size: 15px;
	color: #1E1E1E;
}

.cuadrado-izq{
	background-color: #FFBD35;
	max-width: 867px;
	justify-content: center;			
	border-radius: 14px;
	margin: 40px 0px 0px 280px;	
}

.cuadrado-izq p{
	font-size: 15px;
	margin: auto;
	color: #1E1E1E;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	text-align: center;
}

.cuadrado-izq .titulo {
	font-size: 20px;
	color: #000000;
	padding: 20px;
	font-weight: 400;
	text-align: center;
}

.comedor-infantil .imagen-nuevo-comedor img {
	border-radius: 12px;
}

.titulos .construimos{
	padding: 50px;
	font-size: 20px;
	text-align: center;
}

.titulos .titulo-comedor-2{
	padding-bottom: 0px;
}

.cuadrado-izq .contenido-izq{
	padding-bottom: 70px;
}

.ultimo-texto{
	text-align: center;
	color: #1E1E1E;
	padding: 64px 0px;
}

.ultimo-texto p{
	color: #1E1E1E;
	font-family: ubuntu;
	font-weight: 200;
}

.ultimo-texto .que-hicimos{
	padding-top: 20px;
	font-size: 25px;
	font-family: ubuntu;
	font-weight: 300;
}

.ultimo-texto .salon{
	font-weight: 300;
	font-family: roboto;

}

.ultimo-texto .lista-de-acciones li{
	font-size: 20px;
	font-family: roboto;
	font-weight: 300;
	padding: 15px;
}

.ultimo-texto .ejecucion{
	font-size: 25px;
}

.ejecucion{
	padding-bottom: 10px;
}

.que-hicimos{
	padding-bottom: 15px;
}

.salon {
	padding-bottom: 40px;
}
	
	@media screen and (max-width: 600px) {
	
	body {
		margin: 0px;
		padding: 0px		
	}
	
	.home {
		display: flex;
		flex-direction: column;
		background-color: black;
	}
	
	.header {
		height: 340px;
		position: inherit;
		display: flex;
		flex-direction: column;
	}
	
	.header nav .list {
		display: flex;
		padding: 10px;
    	flex-direction: column;
   		text-align: center;
    	flex-wrap: nowrap;
	}
		
	.header .boton-header {
		visibility: hidden;
		margin: 0px;
		width: 0px;
    	height: 0px;
	}
		
	.icono-perfil {
		margin-left: 0px;
		visibility: hidden;
		width: 0px;
    	height: 0px;
	}
		
	.dropdown {
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
		
	.logo img {
		margin: 20px 463px 15px 24px;
		width: 12%;
	}
		
	main {
		padding: 0px;
	}
	
	.registro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0px 0px 50px 55px;
		height: 0px;
		padding: 290px 0px;
	}
	
	.formulario-registro #usuario, #contrasena {
		width: 390px;
		height: 48px;
	}
		
	.formulario-registro a {
		margin: 25px 50px;
	}
	
	.titulo-formulario {
		padding: 40px 50px ;
	}
		
	.texto-portada {
		margin: 42px 56px 40px;
	}

	.google .facebook {
		margin: 10px;
	}
	
	.texto-portada h1 {
		font-size: 40px;
		text-align: left;
		margin: 0px 40px;
	}
		
	.texto-portada p {
		font-size: 18px;
		text-align: left;
		font-weight: 500;
		max-width: 299px;
		margin: 5px 0px 0px 40px;
		padding: 0px;
		}
	
	h2 {
		font-size: 40px;
	}
	
	p {
		font-size: 1.2em;
		margin: 24px;
	} 
		
	
	.container_violeta {
		width: 200px;
		height: 185px;
	}
	
	h4 {
		font-size: 1.4em;
		padding: 100px 8px 0px 12px;
	}

	.corazones img {
		width: 80%;
	}
	
	#novedades {
	margin-bottom: 0px;
	}
		
	.novedades {
	margin: auto;
	}
	
	.nuestro-barrio {
		display: flex;
		flex-direction: column;
		height: 1400px;
	}
	
	.h2barrio {
		font-size: 40px;
	}
		
	.presentacion-nb p {
		margin: 0px 15px;
	}
	
	.icono-buscador {
		padding-left: 0px;
		width: 95%;
	}
		
	.container-mapa {
		margin-left: 40px;
		margin-right: 40px;
		height: auto;
	}
	
	.container-form {
		margin: auto;
		width: 100%;
    	padding-top: 30px;
	}
	
	.container-form h4 {
		padding:  0px 0px 24px 28px;
	}
		
	.formulario-org {
		align-items: center;
	}
		
	form {
		margin: 0px;
		width: 540px;
	}
	
	input {
		height: 48px;
	}
		
	input, textarea, select, button {
		width: 100%;
	}
	
	#sobre-nosotros {
		height: auto;
	
	}
	.objetivo video {
		width: 500px;
		margin-bottom: 30px;
	}
		
	#nuestro-barrio {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
		
	#concienticemos {
		padding: 0px;

	}
	
	.subtitulo h2 {
		padding-top: 50px;
	}
		
	.concienticemos {
		display: flex;
		flex-direction: column;
	}
	
	.concienticemos-contenido {
		flex-direction: column;
	}
		
	.card {
		width: 552px;
		height: 170px;
		margin: 10px 25px 20px;
	}
	
	.card_front, .card_back {
		width: 552px;
		height: 576px;
	}
	
	.card_back {
		transform: none;
	}
	
	.card_father:hover .card_great {
		transform: none;
	}
	
	.contenido_front h3 {
		visibility: hidden;
	}
		
	.contenido_back {
		padding-top: 120px;
	}
		
	.contenido_back p {
		font-size: 17px;
		max-width: 450px;
    	margin: auto;
		padding: 50px 0px 120px 0px;
	}
		
	.card_great {
		width: auto;
		height: auto;
		
	}
	.card img {
		width: 197px;
		height: 170px;
	}
	
	.card h4 {
		font-size: 16px;
		text-align: center;
		max-width: 300px;
		padding: 0px 0px 12px 20px;
	}
		
	.iconos {
		max-width: 44%;
    	height: 40%;
    	padding: 10px 0px 0px 80px;
    	align-self: flex-end;
	}
	
	.iconos img {
		width: 40%;
		height: 40%;
	}
		
	.card .contenido a {
    	font-size: 14px;
    	padding: 7px 14px;
		margin: 5px 0px 0px 240px;
	}
		
	.card_father, .container_flip {
		width: 552px;
		height: 576px;
		margin: 0px 0px 20px 12px;
	}
		
	.container-card {
		overflow: hidden;
	}
	
	#fundacion {
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	
	.contenido-fundacion {
		/*height: 900px;*/
	}
		
	.contenido-fundacion h2 {
		font-size: 40px;
		padding: 50px 0px 20px 0px;
	}
		
	.contenido-fundacion p {
		max-width: 438px;
		margin: auto;
		padding: 0px;	
		}
	
	.container-fundacion {
    	margin-top: 40px;
	}
	
	.cards-fundacion {
		width: 223px;
		height: 175px;
	}
	
	.cards-fundacion img {
		height: 92%;
	}
	
	.cards-gral {
    	flex-direction: column;
		margin: auto;
		position: relative;
	}
		
	.botones-gral {
		flex-direction: column;
		position: absolute;
	}
		
	.botonera-fund {
	}
		
	.botonera-fund a {
		width: 224px;
    	height: 46px;
    	justify-content: center;;
	}
		
	.footer-p {
		margin-left: 50px;
		padding: 0px;
	}
}