@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}

body {
    background-color: #F8F8F8;
	background-size: 100% auto;
	background-attachment: scroll;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 90px;
	width: 100%;
}

.header {
	width: 100%;
	background-color: #3FA796;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.header .logo {
	cursor: pointer;
}

.logo img {
	margin: 0px 150px 0px 48px;
	border-radius: 0px;
	width: auto;
} 

.header nav .list {
	list-style: none;	 
}

.header nav .list li {
	display: inline-block;
	padding: 12px;
	font-family: roboto;
	font-weight: 500;
	color: #F8F8F8;
}

.list ul a {
	font-size: 16px;
	font-weight: 500;
}

.header nav .list li:hover {
	color: #6a5499;
	font-weight: 500;
}

.header .boton-header {
	font-weight: 700;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	padding: 12px 24px;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 20px;
}

.header .boton-header:hover {
	background: #F8F8F8;
	color: #3FA796;
}
.imagenes-header img {
	margin-left: 44px;
	border-radius: 0px;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
}
.dropdown-content {
  display: none;
  overflow: auto;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
  width: 180px;
  height: 207px;
  background-color: #3FA796;
  list-style: none;
  padding: 30px 0px 0px 12px;
  border-radius: 0px 0px 12px 12px;
  margin-top: 19px;

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #F1F1F1;
  font-weight: 500;
  font-family: roboto;
  font-size: 12px;
	line-height: normal;
}

.icono-perfil {
	width: 46px;
	height: 46px;
	background-color: transparent;
	border: none;
	margin-left: 32px;
}



/* Home */
.home {
	display: flex;
	justify-content: center;	
	background-image: url(/img/foto-portada.jpg);
	background-repeat: no-repeat;	
	height: 810px;
}

h1 {
	font-family: ubuntu;
	font-size: 58px;
	font-weight: 700;
	color: #F8F8F8;
	text-align: start;
}

h2  {
    font-family: ubuntu, 'sans serif'; 
    font-size: 48px;
	font-weight: 700;
	text-align: center;
}

h3, h4, p, a {
	font-family: roboto, 'sans serif';
}

h2, h3, h4, p {
	color: #F8F8F8;
}

h3 {
    font-size: 32px;
	padding-bottom: 32px;
	text-align: center;
}

h4 {
    font-size: 28px;
	max-width: 265px;
	padding: 144px 8px 0px 21px;
}

p {
    font-size: 20px;
	font-weight: 300;
	padding-bottom: 64px;
	max-width: 800px;
	margin: auto;
}

.texto-portada {
	max-width: 476px;
	margin: 461px 0px 0px 148px;
}

.texto-portada h2 p {
	color: #F8F8F8;
	text-align: start;
}

.texto-portada h2 {
	padding-bottom: 16px;
	font-size: 48px;
	font-family: ubuntu, 'sans serif';;
}

.texto-portada p {
	font-size: 27px;
	font-family: roboto, 'sans serif';	
}

.registro {
	margin: 139px 148px 0px 185px;
	background-color: #8267BE;
	height: 560px;
	width: 490px;
	padding: 50px;
	text-align: center;
	border-radius: 42px;
}

.formulario-registro p {
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0px;
}

.titulo-formulario {
	font-family: ubuntu;
	font-size: 32px;
	display: flex;
	float: left;
	padding-left: 10px;
}

.formulario-registro input {
	border-radius: 8px ;
	width: 370px;
	height: 40px;
	margin-top: 24px;
}

.formulario-registro #usuario, #contrasena {
	font-size: 18px;
	color: #7E7E7E;
	padding: 10px 0px 9px 12px;
	border: none;
}

.formulario-registro input {
	width: 361px;
	height: 40px;
}

.formulario-registro a {
	padding: 13px;
	display: flex;
	justify-content: center;
	color: #F8F8F8;
	border: 3px solid #F8F8F8;
	border-radius: 8px;
	margin-top: 32px;
}

.formulario-registro a:hover {
	background: #F8F8F8;
	color: #8267BE;
}

.facebook {
	padding: 8px 16px 8px 16px;	
}

.google, .facebook {
	background-color: #FFBD35;
	border-radius: 9px;
	margin: 16px;
}

.google{
	padding: 11px;
}

/* sobre nosotros */
#sobre_nosotros {
    background-color: #3FA796;
    padding: 98px 0px 24px 0px;
    text-align: center;
	height: 1540px;
}

.containers {
	display: flex;
	justify-content: center;
	gap: 86px;
	padding-bottom: 48px;
	position: relative;
}

.corazones {
	position: absolute;
	top: 36px;
}

.container_violeta {
	background-color: #8267BE;
	width: 280px;
	height: 265px;
	border-radius: 30px;
	text-align: center;
}

.subtitulo h2 {
	color: #1e1e1e;
	padding: 80px 0px 64px 0px;
}

span {
	font-weight: 700;
}

.texto_corto {
	max-width: 360px;
	margin: auto;
	}

/*----Novedades----*/
.presentacion-Novedades p, h2{
	color: #000000;	
}
.novedades{
	margin-top: 182px;
	margin-left: 20px;
	margin-bottom: 140px;
}
.container-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.contenido-card{
	padding-bottom: 142px;
}
.Ncard{
	margin: 20px;
	border-radius: 31px;
	background-color: #3FA796;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	left: 704px;
	padding-bottom: 28px;
	width: 100%;
	height: 100%;
}
.Ncard:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-5%);
}
.Ncard img{
	border-top-left-radius: 31px;
	border-top-right-radius: 31px;
}
.contenido-card{
	text-align: center;
}
.Ncard .contenido-card h5{
	padding: 16px 0px;
	font-family: roboto;
	font-style: bold;
	color: #FFFFFF;
	font-size: 24px;
}
.P-italic{
	font-family: roboto;
	font-size: 16px;
	font-style: italic;
}
.Ncard .contenido-card p{
	margin-left: 11px;
	margin-right: 11px;
	padding-bottom: 0px;
}
.vermasnovedades{
	display: flex;
	align-content: flex-end;
}
.vermasnovedades a{
	color: #f8f8f8;
	border: 2px solid #F8F8F8;
	border-radius: 6px;
	padding-right: 12px;
	padding-left: 12px;
	margin-left: 22px;
	padding-top: 8px;
	margin-bottom: 25px;
	padding-bottom: 8px;
}
.vermasnovedades a:hover{
	background: #ffffff;
	color: #3FA796;
}
.container-card{
	position: relative;
}
.swiper-button-next,.swiper-button-prev{
	background-color: #f8f8f8;
	position: absolute;
	left: 268px;
	top: 235px;
	border-radius: 30px;
	padding-left: 24px;
	padding-right: 32px;
	padding-top: 37px;
	padding-bottom: 35px;
}
/* nuestro barrio */
#nuestro-barrio {
	background-color: #3FA796;
	height: 990px;
	width: 100%;
}

.h2barrio {
	font-size: 48px;
	padding-top: 48px;
	padding-bottom: 24px;
	font-family: ubuntu;
}

.presentacion-nb {
	text-align: center;
	font-size: 2em;
	color: white;
}

.presentacion-nb p {
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	max-width: 582px;
	margin: auto;
	padding-bottom: 72px;
}

.container-mapa {
	width: 538px;
	height: 468px;
	display: flex;
	flex-direction: column;
	float: left;
	margin-left: 89px;
}

.container-mapa h4 {
	color: #F8F8F8;
	font-family: ubuntu;
	font-size: 20px;
	margin-left: 0px;
	text-align: start;
	max-width: 390px;
	padding: 0px 0px 24px 0px;
}

.buscador {
	height: 46px;
	width: 502px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.buscador input {
	height: 46px;
	width: 502px;
}

.mapa {
	display: flex;
	padding-top: 60px;
}

.container-form {
	display: flex;
	flex-direction: column;
	float: right;
	margin-right: 89px;
}

.container-form h4 {
	font-size: 20px;
	font-family: ubuntu;
	color: #F8F8F8;
	font-weight: 400;
	margin-left: 0px;
	text-align: start;
	max-width: 390px;
	padding: 0px 0px 24px 0px;
}

.formulario-org {
	display: flex;
	flex-direction: column;
}

form {
  margin: 0 auto;
  width: 606px;
}

.form-pau {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 16px;
}

.form-pau li {
	font-family: roboto;
	color: #F8F8F8;
	font-weight: 300;
	font-size:  20px;
}

input,textarea {
  font: 1em roboto;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px #FFFFFF;
}

input, textarea, select, button {
  width : 600px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.checkbox {
	width: 14px;
	height: 14px;
	background-color: transparent;
	color: transparent;
	border-style: hidden;
}

.continuar li {
	font-size: 16px;
	font-weight: 500;
	padding: 12px 24px;
	display: inline-block;
	text-align: start;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	margin-top: 32px;
}

.continuar li:hover {
	background-color: #F8F8F8;
	color: #8267BE;
}

#name,#CUIT,#lugar,#entrecalles,#barrio,#localidad,#partido,#pregunta,#descrip {
	font-size: 14px;
	color: #9E9E9E;
	padding: 12px;
}

/* concienticemos */
#concienticemos {
	height: 958px;
}
	
.concienticemos-contenido {
	display: inline-flex;
	flex-direction: row;
}

.container_little {
	display: flex;
	flex-direction: column;
}

.card {
	width: 681px;
	height: 210px;
	margin: 0px 0px 31px 32px;
	border-radius: 30px ;
	overflow: hidden;
	background: #8267BE;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	cursor: default;
	transition: all 400ms ease;
	display: flex;
	flex-direction: row;
	position: relative;
}

.iconos {
	position: absolute;
	padding: 24px 0px 0px 590px;
}

.iconos img {
	border-radius: 0px;
}

.card:hover {
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
	transform: translateY(-5%);
}

.card h4 {
	font-weight: 700;
	font-size: 20px;
	padding: 74px 0px 36px 50px;
	max-width: 380px;
}

.card .contenido a {
	padding: 8px 12px;
	display: inline-block;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	transition: all 400ms ease;
	margin-left: 330px;
}
.card .contenido a:hover{
	background: #F8F8F8;
	color: #8267BE;
}

/* cards-grandes */

.card_father, .container_flip {
    margin-left: 16px;
	perspective: 1000px;
	max-width: 664px;
}

.card_father:hover .card_great {
    transform: rotateY(180deg);
}

.card_great {
	width: 664px;
    height: 700px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 800ms ease;
}

.card_front {
    background-size: cover;
    background-position: center;
}

.card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 30px;
}

.card_back {
    transform: rotateY(180deg);
    background: #8267BE;
}

.contenido_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 279px;
    transform: translateZ(60px);
	max-width: 370px;
	margin: auto;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.contenido_back {
    padding-top: 279px;
    text-align: center;
    transform: translateZ(60px);
	max-width: 540px;
	margin: auto;
}

.contenido_back p {
    padding-top: 36px;
    font-size: 20px;
}

.contenido_back a {
    padding: 12px 16px;
	display: inline-block;
	color: #F8F8F8;
	border: 2px solid #F8F8F8;
	border-radius: 8px;
	transition: all 400ms ease;
}

.contenido_back a:hover {
    background: #F8F8F8;
	color: #8267BE;
}

/* colabora con la fundacion */
#fundacion {
	background-color: #3FA796;
	width: 1440px;
	height: 666px;
}

.contenido-fundacion h2 {
	font-family: ubuntu;
	font-size: 48px;
	padding: 64x 0px;
}

.contenido-fundacion p {
	padding-top: 24px;
	max-width: 1000px;
	text-align: center;
}

.container-fundacion {
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
	margin: 0px 0px 0px 0px;
}

.cards-fundacion {
	background-color: #FFBD35;
	width: 300px;
	height: 200px;
	border-radius: 34px;
	margin: 20px;
	display: flex;
	justify-content: center;
	padding: 26px 71px;
}

.boton-fundacion {
	width: 300px;
	height: 48px;
}

.botonera-fund {
	display: flex;
	width: 1440px;
	margin-left: 39px;
}

.botonera-fund a {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	display: flex;
	flex-direction: column;
	border: solid 2px #F8F8F8;
	color: #F8F8F8;
	border-radius: 8px;
	padding: 13px 20px;
	box-sizing: border-box;
	margin: 24px 20px;
}

.botonera-fund a:hover {
	background-color: #F8F8F8;
	color: #3FA796;
}

/* contribuir */
.titulo-contribuir h2 {
    font-family: ubuntu, 'sans serif'; 
    font-size: 48px;
	color: black;
	text-align: center;
	font-weight: 700;
	padding-bottom: 32px;
}

.header nav .list li:hover{
	color: #6a5499;
}

.btn button{
	font-weight: 700;
	color: #F8F8F8;
	background-color: #8267BE;
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
}

.contenedor1 {
	width: 1296px;
	height: 512px;
	border-radius: 30px;
	background-color: #3FA796;
	display: flex;
	justify-content:center;
	margin-left: 60px;
	margin-bottom: 64px;
}

.botones-cantidad {
	width: 1296px;
	height: 256px;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: #8267BE;
}

.botonera li {
	display: inline-block;
	text-decoration: none;
	padding: 17px 102px;
	border: 3px solid white;
	border-radius: 14px;
	font-family: roboto;
	font-size: 32px;
	margin: 16px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	color: #F8F8F8;
}

.botones-cantidad li:hover {
	background: #F8F8F8;
	color: #8267BE;
}

.titulo-contribuir {
	font-family: ubuntu;
	color: #1E1E1E;
	font-size: 48px;
	text-align: center;
	padding: 10px;
}

.botonera ul {
	list-style: none;
	padding-top: 20px;
	font-size: 12px;
	text-align: center;	
}

.botonera ul li {
	display: inline;
}

.botonera ul a li {
	width: 239px;
	height: 72px;
	color: #F8F8F8;
	padding: 17px 102px;
	border: 3px solid white;
	border-radius: 14px;
	font-family: roboto;
	font-size: 32px;
	margin: 16px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	padding-top: 60px;
}

.parrafo {
	display: flex;
	float: left;
	margin-left: 30px;
	margin-top: 50px;
	max-height: 400px;
}

.contribuir p {
	font-family: roboto;
	font-size: 24px;
	font-weight: 300;
	color: white;
	text-align: center;
	line-height: 30px;
	max-width: 860px;
	max-height: 175px;
	margin: auto;
	padding-bottom: 10px;
}

.contribuir span {
	font-style: italic;
}

.continuar-contribuir {
	width: 251px;
	height: 80px;
	background-color: #F8F8F8;
	font-family: roboto;
	font-size: 24px;
	font-weight:500;
	text-align: left;
	color: #3FA796;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
	margin-top: 40px;
}

.continuar-contribuir li {
	list-style: none;
	padding-top: 25px;
	padding-right: 20px;
}

.flecha {
	display:flex;
	width: 80px;
	height: 80px;
}

.popup {
	margin: 300px;
	background-color: #3FA796;
	width: 810px;
	height: 404px;
	border-radius: 30px;
}

.btn-close {
	align-items: flex-end;
	padding: 8px 12px;
	background-color: #1e1e1e;
	border-radius: 100%;
	color: #F8F8F8;
}

.container-text {
	padding: 64px;
	text-align: center;
	max-width: 580px;
	margin: auto;
}

.btn-volver a {
	padding: 64px 14px;
	font-size: 16px;
	font-weight: 500;
	border: solid 2px #F8F8F8;
	color: #F8F8F8;
	border-radius: 8px;
	margin: 24px;
}

.btn-volver a:hover {
	background-color: #F8F8F8;
	color: #3FA796;
}

.background-blur {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
}

.checkbox-contribuir {
	width: 15px;
	height: 15px;
	color: transparent;
	border-style: hidden;
}

.texto-check {
	font-family: roboto;
	font-size: 20px;
	font-weight: 300;
	list-style: none;
	color: #F8F8F8;	
}

.texto-check li {
	max-width: 280px;
	display: flex;
	flex-direction: column;
	text-align: left;	
}

/* footer */
footer {
	padding-top: 20px;
	background-color: #8267BE;
	width: 100%;
	height: 196px;
}

.footer-img {
	display: flex;
	justify-content: center;
}

.footer-img img {
	border-radius: 0px;
	margin-left: 15px;
}

.footer p {
	padding-bottom: 16px;
	font-size: 16px;
	font-weight: 300px;
	max-width: 500px;
	line-height: 40px;
	margin-top: 24px;
	text-align: center;
}

/* @media */