@charset "utf-8";
/* CSS Document */
body {
	font-family: "roboto";
	background-color: #3FA796;
	padding: 10px;
}

h2 {
	font-size: 100%;
	padding-top: 1px;
	margin-bottom: 21px;
	line-height: 13%;
	font-family: ubuntu;
}


.presentacion {
	text-align: center;
	font-size: 2em;
	color: white;
}

.presentacion p {
	font-size: 20px;
	padding-top: 10px;
}

.container1 {
	width: 538px;
	height: 468px;
	display: flex;
	flex-direction: column;
	float: left;
	margin-left: 30px;
	
}
.container1 p {
	color: white;
}

.buscador {
	height: 46px;
	width: 502px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.mapa {
	display: flex;
	padding-top: 60px;
}

img {
	border-radius: 20px;
}

.cointainer2 {
	display: flex;
	flex-direction: column;
	float: right;
}

h1 {
	font-size: 20px;
	font-family: ubuntu;
	color: white;
}

.formulario {
	display: flex;
	flex-direction: column;
	
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 600px;
  /* Esquema del formulario */
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 600px;
  text-align:inherit;
  font-size: 15px;
  color: white;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em roboto;
  height: 40px;

  /* Tamaño uniforme del campo de texto */
  box-sizing: border-box;
  border-radius: 5px;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px #FFFFFF;
}

input, textarea, select, button {
  width : 600px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
