@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

body {
    background-color: #F8F8F8;
	background-size:100% auto;
	background-attachment: scroll;
}

h2 {
    font-family: ubuntu, 'sans serif'; 
    font-size: 48px;
	color: #F8F8F8;
	text-align: center;
	font-weight: 700;
	padding-bottom: 32px;
}

h3 {
    font-family: roboto, 'sans serif';
    font-size: 32px;
	color: #F8F8F8;
	text-align: center;
	font-weight: 700;
	padding-bottom: 32px;
}

h4 {
    font-family: roboto, 'sans serif';
    font-size: 28px;
	color: #F8F8F8;
	text-align: center;
	font-weight: 700;
}

p {
    font-family: roboto, 'sans serif';
    font-size: 20px;
	color: #F8F8F8;
	text-align: center;
	font-weight: 300;
	padding-bottom: 64px;
}

.seccion_uno {
    background-color: #3FA796;
    padding: 98px 250px 96px 250px;
    text-align: center;
}

.contenedores_violetas {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.contenedor_uno {
background-color: #8267BE;
margin: 0px 86px 50px 150px;
padding-top: 126px;
width: 280px;
height: 120px;
border-radius: 37px;
}

.contenedor_dos {
	background-color: #8267BE;
	margin: 0px 150px 50px 0px;
	padding-top: 126px;
	width: 280px;
	height: 120px;
	border-radius: 37px;
	}

.seccion-dos {
font-family: ubuntu, 'sans serif'; 
font-size: 48px;
color:#1E1E1E;
text-align: center;
font-weight: 700;
padding-top: 98px;

}

.caja-uno {
background-color: #8267BE;
margin: 0px 18px 50px 30px;
padding-top: 64px;
width: 681px;
height: 180px;
border-radius: 44px;
}

.caja-dos {
	background-color: #8267BE;
	margin: 0px 18px 50px 30px;
	padding-top: 64px;
	width: 681px;
	height: 180px;
	border-radius: 44px;
}

.caja-tres {
	background-color: #8267BE;
	margin: 0px 18px 50px 30px;
	padding-top: 64px;
	width: 681px;
	height: 180px;
	border-radius: 44px;	
}

.caja-cuatro {
	background-color: #8267BE;
	margin: 0px 18px 50px 30px;
	padding-top: 64px;
	width: 681px;
	height: 180px;
	border-radius: 44px;
}

.subtitulo-caja4 {
	background-color: #8267BE;
	margin: 50px 18px 50px 30px;
	padding-top: 64px;
	width: 678px;
	height: 690px;
	border-radius: 44px;
}

.descripcion {

}